@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
--font-Montserrat : 'Montserrat', sans-serif;

--color-primary: #4a5d6f;
--color-secondary: #6c8197;
--color-background: #e3ece8;
}