* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: justify;
}
span{
    text-align: justify;
}
.calculoinfo {
    width: 100%;
    max-width: 500px;
    position: fixed;
    right: 550px;
    margin: 50px;
    padding: 200px;
    background: #ccc;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.fundobonito {
    background-image: url("Imgs/foto4.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
@media (max-width: 768px) {
    .caixapaciente {
        padding: 15px;
    }

    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 18px;
    }

    p {
        font-size: 14px;
    }
}
