
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 900px;
    font-family: Arial, sans-serif;
}

.fundo {
    background-image: url("../Imgs/Cadastro.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

nav {
    background-color: #383434;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: right;
    align-items: right;
    height: 60px;
}

.menu li {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    color: white;
    font-size: 180px;
    padding: 10px;
    display: block;
    right: 4%;
    text-align: end;
}
.sessao {
    justify-content: end;
    position: absolute;
}

.menu a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px;
    display: block;
}

.menu a:hover {
    background-color: #555;
    border-radius: 6px;
}


.titulo {
    position: absolute;  
    top: -1px;
    left: 25px;
    display: flex;
    justify-content: start;
    align-items: start;
    width: 200px;
}


.nutryfit {
    position: absolute;  
    top: -0.01vh;
    left: 30px;  
    display: end;
    font-size: 18px;
    justify-content: end;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333;
}


.nutryfit li {
    margin: 3px;  
}


h3 {
    position: absolute;
    left: 80px;
    top: 20px;  
    font-family: 'Times New Roman';
    color: #fff;
}
h1 {
    font-size: 7vh;
    padding: 300px;
    padding-left: 800px;
    padding-top: 190px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
    pointer-events: none; 
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

p {
    margin-top: -260px;
    font-size: 27px;
    padding-left: 670px;
    margin-left: 130px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


#buttonRegistrer {
    background-color: #53610b;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex; 
    margin: 20px auto; 
    margin-left: 800px;
    margin-top: 25px;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

#buttonRegistrer:hover {
    transform: scale(1.1); 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); 
}

a {
    text-decoration: none;
}